# rename this file to remove the .template extension
# then edit the content of the metatdata in this YAML file for rendering on https://software.zaber.com/examples
authors:
  - Jay Leong
date: 2026-07-06
updated_date: 2026-07-06
category: Fiber Alignment
tags:
  - Fiber Alignment
  - Optics
  - Optimization
  - Python
picture: img/screenshot.png  # Should have a picture < 1000 pixels wide for the link. Doesn't need to be in the md.
